@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, sans-serif;
}

.header,
.first-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding-left: 200px;
    padding-right: 200px;
}

ul {
    display: flex;
    list-style: none;
    color: #E5E7EB;
    font-size: 18px;
    padding: 0;
    margin: 0;
}

li {
    margin-right: 16px;
}