@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, sans-serif;
}

.header,
.first-section,
.second-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 100px;
}

ul {
    display: flex;
    list-style: none;
    color: #E5E7EB;
    font-size: 18px;
    padding: 0;
    margin: 0;
}

li {
    margin-right: 16px;
}

.first-section h1 {
    font-weight: 1000;
    color: #F9FAF8;
    font-size: 48px;
}

.first-section p {
    color: #E5E7EB;
    font-size: 18px;
}

.first-section button {
    width: 100px;
    height: 30px;
    font-weight: 700;
    color:#F9FAF8;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    background-color: #3882F6;
}

.second-section {
    display: flex;
    justify-content: center;
    background-color: white;
    padding-top: 15px;
}

.second-section .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.cards-collection {
    padding-top: 15px;
    width: 60%;
    display: flex;
    justify-content: space-around;
}

.card {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card p {
    text-align: center;
}

.img-placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    height: 150px;
    border: 2px solid #3882F6;
    border-radius: 16px;
}